---
import "./style.css";
---

<a href="https://github.com/kevinmartinez" class="group">
  <div class="glass-card w-full h-full rounded-xl overflow-clip">
    <div class="github-container flex items-center justify-center group-hover:before:scale-120 before:transition-all before:duration-300">
      <span class="icon-github text-[100px] text-primary"></span>
    </div>
  </div>
</a>