---
import "./style.css";
---

<button class="button-container">
  <span class="text-content"><slot/></span>
  <span class="icon-wrapper">
    <span class="icon-arrow-up-right2 rotate-45"></span>
  </span>
</button>
