---
import "./style.css";
const { href, ...props } = Astro.props
---

<a href={href} class="button-container" {...props}>
  <span class="text-content"><slot /></span>
  <span class="icon-wrapper">
    <span class="icon-arrow-up-right2 rotate-45"></span>
  </span>
</a>
