:root {
  --border-radius: 16px;
  --gap-radius: 12px;
}

.glass-card-map {
  overflow: visible;
  -webkit-clip-path: path("M0 46 L200 46 A16 16 0 0 0 216 30 L216 0 H1000 V1000 H0 Z");
  clip-path: path("M0 46 L200 46 A16 16 0 0 0 216 30 L216 0 H1000 V1000 H0 Z");
}

.glass-card-map::before {
  content: "";
  position: absolute;
  display: block;
  z-index: -1;
  bottom: 00px;
  right: 00px;
  width: 150px;
  filter: blur(100px);
  height: 170px;
  opacity: 0.6;
  transition: opacity 300ms ease;
  background-color: yellow;
  border-radius: 100%;
}

.glass-card-map:hover::before {
  opacity: 0.8;
}

.label-card::before {
  content: "";
  position: absolute;
  display: block;
  z-index: -1;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 150px;
  filter: blur(60px);
  height: 60px;
  background-color: rgb(117, 52, 52);
  border-radius: 100%;
}
