:root {
  --border-radius: 16px;
  --gap-radius: 12px;
}

.glass-card-map {
  overflow: visible;
}

.glass-card-map::before {
  content: "";
  position: absolute;
  display: block;
  z-index: -1;
  bottom: 00px;
  right: 00px;
  width: 150px;
  filter: blur(100px);
  height: 170px;
  opacity: 0.6;
  transition: opacity 300ms ease;
  background-color: yellow;
  border-radius: 100%;
}

.glass-card-map:hover::before {
  opacity: 0.8;
}

.label-card {
  background-color: var(--color-secondary);
  height: 40px;
  max-width: 100%;
  width: min(11.25rem, 100%);
  border-radius: 0 0 var(--border-radius) 0;
  z-index: 1;
  position: absolute;
  border-top: 1px solid var(--color-secondary);
  border-left: 1px solid var(--color-secondary);
  top: -1px;
  border-top-left-radius: 12px;
  left: -1px;
  border-right: 1px solid rgba(255, 255, 255, 0.308);
  border-bottom: 1px solid rgba(255, 255, 255, 0.308);
  box-shadow: inset -6px -6px 9px -2px rgba(0, 0, 0, 0.5);

  @media (max-width: 768px) {
    width: fit-content;
    padding-right: 8px;
  }
}

.label-card > div {
  height: calc(100% - 8px);
  width: calc(100% - 8px);
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom-right-radius: calc(var(--border-radius) - 8px);
  border-top-left-radius: 12px;

  @media (max-width: 768px) {
    width: fit-content;
    padding: 0 8px;
  }
}

/* .label-card > div::before {
  content: "";
  position: absolute;
  display: block;
  z-index: -1;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
  width: 150px;
  filter: blur(60px);
  height: 60px;
  background-color: rgb(117, 52, 52);
  border-radius: 100%;
} */
