---
import working from "../../assets/memoji_working.webp";
import "./style.css";
---

<section class="glass-card text-primary flex flex-col h-[318px] md:h-full resume items-center justify-start p-6 rounded-xl relative col-span-1">
  <h2 class="text-4xl font-black">CV / Resume</h2>
  <img src={working.src} alt="Working" class="w-56 h-56 absolute bottom-0" />
</section>