.linkedin-container::before {
  content: "";
  position: absolute;
  display: block;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80px;
  filter: blur(50px);
  height: 80px;
  background-color: rgb(99, 101, 248);
  border-radius: 100%;
  opacity: 0.55;
  transition: opacity 300ms ease;
}

.linkedin-container:hover::before {
  opacity: 0.75;
}
